body{
        background-color: #FF0000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }


      h1{
        font-family: Notif Serif;
        font-size: 4.0em;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
      }


      nav{
        max-width: 600px;
        margin: auto;
        font-size: 2.0em;
      }


      div{
        font-family: Onest;
        font-size: 2em;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
      }


  p{
        font-family: Quicksand;
        font-weight: 300;
        font-size: 1.3em;
        max-width: 100%;
        overflow: scroll;
      }   

font-family: 'Quick Sand', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Onest', serif;
  a href{
        color: #89CFF0;
  } 
